aside {
    width: 100%;
    background-color: #1b1b1b;
    min-height: 700px;
    max-height: 100vh;
    margin-top: 60px;
    position: fixed;
    z-index: 10;
    overflow-y: scroll;
    padding-bottom: 250px;
}
/* width */
aside::-webkit-scrollbar {
    width: 2px;
}
aside:hover::-webkit-scrollbar {
    width: 2px;
}
aside:hover::-webkit-scrollbar-thumb {
    background-color: #323232;
}
/* Track */
aside::-webkit-scrollbar-track {
    background-color: #141414;
}
/* Handle */
aside::-webkit-scrollbar-thumb {
    background-color: #141414;
    border-radius: 16px;
}
aside::-webkit-scrollbar-button {
    display:none;
}
.navigation {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border-bottom: 1px solid #323232;
}
.item {
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    min-height: 40px;
}
.button-container {
    position: relative;
    display: flex;
    align-items: center;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 1;
}
.button-container:hover {
    background-color: #323232;
}
.button-container:hover .nav-icon-right {
    color: #ffffff;
}
.button-container .nav-icon-right {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    width: 100%;
    max-width: 40px;
    color: #B0B0B0;
    padding: 10px 5px;
    transition: all 0.4s ease;
}
.button-container .itemName {
    width: 100%;
}
.button-container .itemName {
    position: relative;
    font-family: "SF UI Display Regular", sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 40px;
    padding: 10px 5px;
    color: #B0B0B0;
    text-decoration: none;
}
.button-container .itemName .nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    padding: 0 10px;
}
.button-container .itemName h5 {
    font-size: 1rem;
    font-weight: 400;
}
.item .sublinks {
    display: none;
    background: #101010;
}
.item .sublinks .sublinks-item {
    font-family: "SF UI Display Regular", sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 40px;
    padding: 10px 5px 10px 55px;
    color: #B0B0B0;
    text-decoration: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.item .sublinks .sublinks-item:hover {
    color: #ffffff;
    border-top: 1px solid #323232;
    border-bottom: 1px solid #323232;
}
.item .sublinks-item-active {
    display: block;
}
.arrow-rotate {
    transform: rotate(180deg);
}