aside {
    width: 100%;
    background-color: #1b1b1b;
    min-height: 100vh;
    padding-top: 60px;
    position: fixed;
    z-index: 10;
}
.navigation {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border-bottom: 1px solid #323232;
}
.item {
    cursor: pointer;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    min-height: 40px;
}
.itemName {
    font-family: "SF UI Display Regular", sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 40px;
    padding: 10px 5px;
    color: #B0B0B0;
    text-decoration: none;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.itemName:hover {
    background-color: #323232;
    color: #ffffff;
}
.itemName .nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    padding: 0 10px;
}
.itemName h5 {
    font-size: 1rem;
    font-weight: 400;
}
ul {
    display: none;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.item:hover ul {
    display: block;
}
ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    padding: 10px 5px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
ul li:hover {
    background-color: #323232;
    color: #ffffff;
}