.related-content-container {
    margin: 15px 0;
}
.related-content {
    display: flex;
    justify-content: flex-start;
}
.related-content-item {
    width: 100%;
    max-width: 120px;
    margin: 0 5px;
    padding: 3px;
    cursor: pointer;
}
.related-content-item {
    text-decoration: none;
}
.related-content-item img {
    display: block;
    min-width: 120px;
    width: 100%;
    height: auto;
    min-height: 180px;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    border-radius: .2rem;
    filter: brightness(.95);
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.7);
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}
.related-content-item img:hover,
.related-content-item img:active {
    filter: brightness(110%);
    transform: scale(0.99)
}
.related-content-item p {
    margin: 7px 0;
    text-decoration: none;
}

@media screen and (max-width: 450px) {
    .related-content-container h6 {
        font-size: 1.2rem;
    }
    .related-content {
        flex-wrap: nowrap;
        overflow-y: scroll;
        justify-content: flex-start;
    }
    .related-content::-webkit-scrollbar {
        display: none;
    }
    .related-content-item p {
        margin: 10px 0;
    }
}